
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.madla-layout-content {
    min-height: 280px;
    padding: 20px;
    background: #fff;
  }
  .logo {
    float: left;
    background: transparent;
    width: auto;
    height: auto;
    margin-right: 10px;
  }
  .ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
    [data-theme="dark"] .madla-layout-content {
      background: #141414;
    }

/* Header */
.madla-layout-header {
    background: #fff;
    height: auto;
    width: auto;
    
}

/* Login */
.login-layout {
    width: 100%;
    height: 100vh;
    display: flex;
    

}

.login-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Menu */
.madla-menu-title-content {
    font-family: Calibri;
}

.madla-menu-horizontal > .madla-menu-item::after {
    border-bottom: 0px;
}
.madla-menu-item-active::after {
    border-bottom-width: 0px !important;
}
.madla-menu-item-selected::after {
    border-bottom-width: 3px !important;
}

/* Video Loading */
.video-loading-active {
  display: flex;
}

.video-loading-inactive {
  display: none;
}
  
.video-react .video-react-big-play-button {
  display: none !important;
}

.video-react-control-bar {
  display: none !important;
}

.video-icon-mic-enable {
  border: none;
  outline: none;
}

.video-icon-mic-disable {
  background: rgba(78, 78, 78, 0.5);
  border: none;
  outline: none;
}

.video-icon-label-v {
  visibility: visible;
}

.video-icon-label-nv {
  visibility: hidden;
}